#logo {
    font-weight:bold;
}

#content {
    padding:5px;
}

#content ul {
    line-height:2em;
}

#content p {
    text-align:justify;
}

#menu {
    display:flex;
    height:2.5em;
    line-height:2.5em;
    padding:5px;
}

#menu > div {
    width:50%;
}

#footer {
    padding:5px;
    text-align:right;
    margin-bottom:5px;
}

body {
    font-size:15px;
    font-family:sans-serif;
    color:#333;
    width:55%;
    margin:0 auto;
}

h1, h2, h3 {
    color:#C70036;
}

a {
    color:#0035C7;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

pre {
    width:100%;
    font-size:90%;
}

.search {
    text-align:right;
}

.status_beam {
    border-radius:2px;
    margin-bottom:0.10em;
    margin-right:0.25em;
    width:6px;
    height:6px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.urls {
    padding-left:5px;
}

.urls_url {
    list-style:none;
}

.public_key {
    margin-bottom:2.5em;
}

.muted {
    color:#777;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
