#logo {
    font-weight:bold;
}

#content {
    padding:5px;
}

#content ul {
    line-height:2em;
}

#menu {
    display:flex;
    height:2.5em;
    line-height:2.5em;
    padding:5px;
}

#menu > div {
    width:50%;
}

pre {
    background-color:#F5F5F5;
    padding:10px;
}

code {
    font-size:100%;
}

body {
    font-size:16px;
    font-family:sans-serif;
    color:#333;
}

h1, h2, h3 {
    color:#C70036;
}

a {
    color:#0035C7;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

.search {
    text-align:right;
}